In [3]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Obtaining dependency information for mysql-connector-python from https://files.pythonhosted.org/packages/26/20/5a3bba5751e6fd5da6d2dd759e398f23ed43525fbb4729eda06df929498e/mysql_connector_python-8.3.0-cp311-cp311-macosx_13_0_arm64.whl.metadata
  Downloading mysql_connector_python-8.3.0-cp311-cp311-macosx_13_0_arm64.whl.metadata (1.9 kB)
Downloading mysql_connector_python-8.3.0-cp311-cp311-macosx_13_0_arm64.whl (15.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.3/15.3 MB 75.6 MB/s eta 0:00:0000:0100:01
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.3.0
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd
import mysql.connector

### cast table

In [5]:
# Read CSV file into a DataFrame
cast_df = pd.read_csv(r'cast.csv')

In [6]:
# MySQL database connection parameters
host = 'data225lab.c3eqm4kasa8u.us-west-1.rds.amazonaws.com'
user = 'admin'
password = 'hellolab'
database = 'lab1'

In [7]:
# Connect to MySQL database
conn = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database
)
cursor = conn.cursor()

In [8]:
# Create table (if it doesn't exist)
create_table_query = """
CREATE TABLE IF NOT EXISTS cast (
    cast_id INT,
    cast_character VARCHAR(255),
    credit_id VARCHAR(255),
    cast_gender INT,
    actor_id INT,
    cast_name VARCHAR(255),
    cast_order INT,
    cast_profile_path VARCHAR(255),
    id INT
)
"""
cursor.execute(create_table_query)
conn.commit()

In [11]:
# Insert data into MySQL table
for index, row in cast_df.iterrows():
    # Replace NaN values with None
    row = [None if pd.isna(value) else value for value in row]
    
    insert_query = """
    INSERT INTO cast (cast_id, cast_character, credit_id, cast_gender, actor_id, cast_name, cast_order, cast_profile_path, id)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)
    """
    cursor.execute(insert_query, tuple(row))
    conn.commit()

KeyboardInterrupt:

In [ ]:
# Close cursor and connection
cursor.close()
conn.close()

print("Data inserted successfully!")

### links table

In [12]:
# Read CSV file into a DataFrame
link_df = pd.read_csv(r'links.csv')

In [13]:
# MySQL database connection parameters
host = 'data225lab.c3eqm4kasa8u.us-west-1.rds.amazonaws.com'
user = 'admin'
password = 'hellolab'
database = 'lab1'

# Connect to MySQL database
conn = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database
)
cursor = conn.cursor()

In [14]:
# Create table (if it doesn't exist)
create_table_query = """
CREATE TABLE IF NOT EXISTS links (
    movieId INT,
    imdbId INT,
    tmdbId INT
)
"""
cursor.execute(create_table_query)
conn.commit()

In [16]:
# Insert data into MySQL table
for index, row in link_df.iterrows():
    # Replace NaN values with None
    row = [None if pd.isna(value) else value for value in row]
    
    insert_query = """
    INSERT INTO links (movieId, imdbId, tmdbId)
    VALUES (%s, %s, %s)
    """
    cursor.execute(insert_query, tuple(row))
    conn.commit()

In [17]:
# Close cursor and connection
cursor.close()
conn.close()

print("Data inserted successfully!")

Data inserted successfully!

### ratings_small table

In [18]:
# Read CSV file into a DataFrame
rate_df = pd.read_csv(r'ratings_small.csv')

In [19]:
# MySQL database connection parameters
host = 'data225lab.c3eqm4kasa8u.us-west-1.rds.amazonaws.com'
user = 'admin'
password = 'hellolab'
database = 'lab1'

# Connect to MySQL database
conn = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database
)
cursor = conn.cursor()

In [20]:
# Create table (if it doesn't exist)
create_table_query = """
CREATE TABLE IF NOT EXISTS ratings_small (
    userId INT,
    movieId INT,
    rating FLOAT,
    timestamp BIGINT
)
"""
cursor.execute(create_table_query)
conn.commit()

In [21]:
# Insert data into MySQL table
for index, row in rate_df.iterrows():
    # Replace NaN values with None
    row = [None if pd.isna(value) else value for value in row]
    
    insert_query = """
    INSERT INTO ratings_small (userId, movieId, rating, timestamp)
    VALUES (%s, %s, %s, %s)
    """
    cursor.execute(insert_query, tuple(row))
    conn.commit()

In [22]:
# Close cursor and connection
cursor.close()
conn.close()

print("Data inserted successfully!")

Data inserted successfully!

### keyword_chart table

In [23]:
# Read CSV file into a DataFrame
ky_df = pd.read_csv(r'keyword_chart.csv')

In [24]:
# MySQL database connection parameters
host = 'data225lab.c3eqm4kasa8u.us-west-1.rds.amazonaws.com'
user = 'admin'
password = 'hellolab'
database = 'lab1'

# Connect to MySQL database
conn = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database
)
cursor = conn.cursor()

In [25]:
# Create table (if it doesn't exist)
create_table_query = """
CREATE TABLE IF NOT EXISTS keyword_chart (
    keyword_id INT,
    keyword_name VARCHAR(255)
)
"""
cursor.execute(create_table_query)
conn.commit()

In [26]:
# Insert data into MySQL table
for index, row in ky_df.iterrows():
    # Replace NaN values with None
    row = [None if pd.isna(value) else value for value in row]
    
    insert_query = """
    INSERT INTO keyword_chart (keyword_id, keyword_name)
    VALUES (%s, %s)
    """
    cursor.execute(insert_query, tuple(row))
    conn.commit()

In [27]:
# Close cursor and connection
cursor.close()
conn.close()

print("Data inserted successfully!")

Data inserted successfully!

### movies_keyword table

In [28]:
# Read CSV file into a DataFrame
mky_df = pd.read_csv(r'movies_keyword.csv')

In [29]:
# MySQL database connection parameters
host = 'data225lab.c3eqm4kasa8u.us-west-1.rds.amazonaws.com'
user = 'admin'
password = 'hellolab'
database = 'lab1'

# Connect to MySQL database
conn = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database
)
cursor = conn.cursor()

In [30]:
# Create table (if it doesn't exist)
create_table_query = """
CREATE TABLE IF NOT EXISTS movies_keyword (
    id INT,
    keyword_id INT
)
"""
cursor.execute(create_table_query)
conn.commit()

In [31]:
# Insert data into MySQL table
for index, row in mky_df.iterrows():
    # Replace NaN values with None
    row = [None if pd.isna(value) else value for value in row]
    
    insert_query = """
    INSERT INTO movies_keyword (id, keyword_id)
    VALUES (%s, %s)
    """
    cursor.execute(insert_query, tuple(row))
    conn.commit()

In [32]:
# Close cursor and connection
cursor.close()
conn.close()

print("Data inserted successfully!")

Data inserted successfully!